body {
    font-family: 'Roboto', 'Courier New', Courier, monospace ;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.logo {
    font-size: larger;
    font-weight: bold;
}